.cart {
  width: 80%;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.cart h2 {
  text-align: center;
  margin-bottom: 30px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.cart-details {
  flex: 1;
}

.cart-details h3 {
  margin-bottom: 8px;
}

.cart-details p {
  margin: 5px 0;
}

.quantity-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.quantity-box button {
  width: 35px;
  height: 35px;
  border: none;
  background: #111;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.quantity-box button:hover {
  background: #333;
}

.quantity-box span {
  font-size: 18px;
  font-weight: bold;
}

.remove-btn {
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.remove-btn:hover {
  background: darkred;
}

.total {
  text-align: right;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.checkout-btn {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background: green;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.checkout-btn:hover {
  background: darkgreen;
}

.empty-cart {
  text-align: center;
  margin-top: 50px;
  font-size: 22px;
  color: gray;
}